In [1]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv('water.txt', delimiter='\t')
df.head(5)

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

## Задание 2 ##
Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на миллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

Постройте 95% доверительный интервал для средней годовой смертности в больших городах. Чему равна его нижняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [4]:
from math import sqrt
std = df['mortality'].std(ddof=1)/sqrt(df.mortality.count())
mean = df['mortality'].mean()
alpha = 0.95

In [5]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

Вместо гипотетической теоретической дисперсии $\sigma^2$, которую мы на самом деле в данном случае не знаем, используем выборочные дисперсии, и построим доверительные интервалы вида $$\bar{X}_n \pm t_{1-\frac{\alpha}{2}} \frac{S}{\sqrt{n}}$$

In [6]:
_tconfint_generic(mean, std, df['mortality'].count()-1, 0.05, 'two-sided')

(1476.0833413552848, 1572.2117406119285)

## Задание 3##
На данных из предыдущего вопроса постройте 95% доверительный интервал для средней годовой смертности по всем южным городам. Чему равна его верхняя граница? Округлите ответ до 4 знаков после десятичной точки.

In [7]:
n = df[df['location']=='South'].mortality.count()
mean = df[df['location']=='South'].mortality.mean()
std = df[df['location']=='South'].mortality.std()/sqrt(df[df['location']=='South'].mortality.count())

In [8]:
_tconfint_generic(mean, std, n-1, 0.05, 'two-sided')

(1320.1517462936238, 1433.463638321761)

## Задание 4##
На тех же данных постройте 95% доверительный интервал для средней годовой смертности по всем северным городам. Пересекается ли этот интервал с предыдущим? Как вы думаете, какой из этого можно сделать вывод?

In [9]:
n = df[df['location']=='North'].mortality.count()
mean = df[df['location']=='North'].mortality.mean()
std = df[df['location']=='North'].mortality.std()/df[df['location']=='North'].mortality.count()
_tconfint_generic(mean, std, n-1, 0.05, 'two-sided')

(1625.6488775458643, 1641.5511224541356)

## Задание 5##
Пересекаются ли 95% доверительные интервалы для средней жёсткости воды в северных и южных городах?

In [14]:
n_north = df[df['location']=='North'].hardness.count() 
mean_north = df[df['location']=='North'].hardness.mean() 
std_north = df[df['location']=='North'].hardness.std()/sqrt(df[df['location']=='North'].hardness.count()) 
print("Conf int in North towns: %.4f --- %.4f" %_tconfint_generic(mean_north, std_north, n-1, 0.05, 'two-sided'))

Conf int in North towns: 21.4225 --- 39.3775

In [10]:
n_south = df[df['location']=='South'].hardness.count()
mean_south = df[df['location']=='South'].hardness.mean()
std_south = df[df['location']=='South'].hardness.std()/sqrt(df[df['location']=='South'].hardness.count())
print("Conf int in South towns: %.4f --- %.4f" %_tconfint_generic(mean_south, std_south, n-1, 0.05, 'two-sided'))

Conf int in South towns: 53.6832 --- 85.8552

## Задание с объемом выборки##
$n = \dfrac{disp^{2}*z^{2}}{error^{2}}\\$
Для 95% $z = 1.96$